body {
    background-color: #cccccc;  
    font-family: "Cinzel";
    margin: 0 auto;
          
}

.head {
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url('./Art/background\ 2.jpeg');
    background-size: cover;    
}

.charls {
    color: #ffffff;
    padding: 0px 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.logomarca {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.logosite {
    display: flex;      
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: auto;  
    flex-wrap: wrap;  
}

nav .barralink{  
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #ffffff; 
    text-decoration: none;
    padding: 38px 23px;
    transition: background-color 0.4s ease;    
}

.barralink:hover {
    background-color: #565656;
   
}

.cardsmeio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;   
    gap: 10px; 
}

.card {
    background-color: rgb(230, 227, 227);
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.conteudocard {
    display: flex;
    justify-content: center;
    align-items: center;      
}

.cardimage {
    margin: 15px;
    width: 200px;
    height: 200px;
    border-radius: 10px;   
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6)  
      
}

.cardimage:hover {
    scale: 1.4;
    transition-duration: 0.5s;
}

.bottom {
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-size: 20px;
    background-color: #d1cecb;
    border-top: 2px solid #a5a5a5;
}

.bsobremim {
    font-size: 23px;
}
