body {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    font-family: "Roboto Mono";
    width: 100%;
    margin: 0 auto;
}

.head {
    border-bottom: 4px solid #ffff;    
    width: 100%;
    height: 220px;
    padding-bottom: 30px;        
}

.head h1{
    text-align: center;
    font-size: 35px;
    margin: 0 auto;
    height: 50px;    
}

.head button {
    margin: 10px;
    padding: 10px 10px;    
    background-color: #1f1f1f;
    color: rgb(255, 255, 255);
    font-family: "Roboto Mono";
    border: none;    
    border-radius: 15px;
    cursor: pointer;
    font-size: 25px;
}

.head button:hover {
    background-color: rgb(143, 143, 143);
}

.imagens {
    display: flex;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    border-radius: 20px;
    border: solid black 2px;
}

.meio h1{
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    padding: 15px; 
}

.meio {
    margin: auto;
    width: 100%;
    height: 130px;
}

.meio h2 {
    font-size: 30px; 
    width: 100%;   
    height: 75px;
    padding-bottom: 40px;
    justify-content: center;
    display: flex;    
    margin: 0 auto;    
}

.meio p {
    justify-items: center;
    text-align: center;
    font-size: 25px;    
}

.meio button {
    font-size: 22px;
    margin: 0 0 50px 0;
    padding: 0px 15px;
}
    