body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

.head {
    background-color: #588383;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 15px;
    width: 70px;
    height: 70px;
}

.menu {
    font-size: 20px;
    margin: 20px;
    list-style: none;
}

.link {
    font-size: 25px;
    margin: 0 20px;
    text-decoration: none;
    color: #ffffff;
}

.link:hover {
    color: rgb(132, 197, 197);
}

h1 {
    display: flex;
    justify-content: center;
}


.texto {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-color: #72a8a8;
    color: #ffffff;
    font-size: 24 px;
    width: auto;
    height: auto;
    margin: 0 60px;
    padding: 30px 30px;
    font-size: 22px;
}

.botaotour {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #5454ff;
    width: auto;
    height: 40px;
    font-size: 19px;
}

.botaotour:hover {
    background-color: #7070f0;
}

img {
    width: 450px;
    height: 450px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.destino {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 10px;
}


.destinoscards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 20px;
    padding: 0px;
    width: 450px;
    height: 450px;
    background-color: #72a8a8;
    color: white;
    border-radius: 10px;
}

.textodestino {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 19px;
}

.botaolermais {
    border: none;
    border-radius: 5px;
    background-color: #5454ff;
    color: #ffffff;
    width: 100px;
    height: 50px;
    font-size: 19px;
}

.botaolermais:hover {
    background-color: #7070f0;
}

h2 {
    margin: 0;
}

.sobre {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 10px;
    grid-template-columns: repeat(2, 530px);
    grid-template-rows: repeat(2, 130px);
}

.card1 {
    padding: 5px;
    width: 500px;
    margin: 5px;
    background-color: #496969;
    color: white;
    font-size: 19px;
}

.card2 {
    padding: 5px;
    width: 500px;
    margin: 5px;
    background-color: #87c5c5;
    color: rgb(0, 0, 0);
    font-size: 19px;
}

@media (max-width: 1000px) {
    .destino {
        flex-wrap: wrap;
    }

    .texto {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sobre {
        grid-template-columns: auto;
    }

}